# Environnement virtuel
.venv/
__pycache__/

# Configs d'IDE
.idea/

# Streamlit secrets
.secrets.toml
secrets.toml

# Fichiers de Streamlit
.streamlit/

# Fichiers temporaires
*.pyc
*.pyo
*.pyd
*.DS_Store
*.log

# Fichier batch (facultatif)
run_app.bat
